.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.icon {
  margin-right: 10px;
}

.text {
  text-align: center;
}

.noContacts {
  margin-top: 60px;
}
